fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9

pydantic==2.9.2
pydantic-settings==2.11.0

httpx==0.27.2
anyio==4.7.0

pypdf==5.0.0
python-dotenv==1.0.1
openai==1.51.2

# Tests (facultatif mais conseillé : nos tests les utilisent)
pytest==8.3.3


